# Healthcare Stroke Risk Prediction using Artificial Neural Network

## Data Cleaning

In [59]:
import pandas as pd
import numpy as np 
df=pd.read_csv('Data\healthcare-dataset-stroke-data.csv')

In [60]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [62]:
df.shape

(5110, 12)

In [63]:
df.bmi.isnull().sum()

201

In [64]:
df['bmi']=df['bmi'].fillna(df['bmi'].median())

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [66]:
df['gender'].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [67]:
df['gender']=df['gender'].replace('Other',np.nan)

In [68]:
df['gender'].value_counts()

gender
Female    2994
Male      2115
Name: count, dtype: int64

In [69]:
df['gender'].isnull().sum()

1

In [70]:
df['gender']=df['gender'].fillna(df['gender'].mode()[0])

In [71]:
df['gender'].isnull().sum()

0

In [72]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [73]:
df.ever_married.value_counts()

ever_married
Yes    3353
No     1757
Name: count, dtype: int64

In [74]:
df.work_type.value_counts()

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [75]:
df.Residence_type.value_counts()

Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64

In [76]:
df.smoking_status.value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [77]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.862035,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.699562,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,32.800000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

## Feature Engineering

In [78]:
df=df.drop(['id'],axis=1)

In [79]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [80]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [81]:
LB_encoder_gender=LabelEncoder()

In [82]:
df['gender']=LB_encoder_gender.fit_transform(df['gender'])

In [83]:
LB_encoder_married=LabelEncoder()

In [84]:
df['ever_married']=LB_encoder_married.fit_transform(df['ever_married'])

In [85]:
LB_encoder_Residencd=LabelEncoder()

In [86]:
df['Residence_type']=LB_encoder_Residencd.fit_transform(df['Residence_type'])

In [87]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,Private,1,228.69,36.6,formerly smoked,1
1,0,61.0,0,0,1,Self-employed,0,202.21,28.1,never smoked,1
2,1,80.0,0,1,1,Private,0,105.92,32.5,never smoked,1
3,0,49.0,0,0,1,Private,1,171.23,34.4,smokes,1
4,0,79.0,1,0,1,Self-employed,0,174.12,24.0,never smoked,1

In [88]:
from sklearn.preprocessing import OneHotEncoder
OHE_work=OneHotEncoder()

In [89]:
work_OH_encoder=OHE_work.fit_transform(df[['work_type']]).toarray()

In [90]:
work_OH_encoder

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.]])

In [91]:
work_OH_encoder_df=pd.DataFrame(work_OH_encoder,columns=OHE_work.get_feature_names_out(['work_type']))

In [92]:
work_OH_encoder_df

,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...
5105,0.0,0.0,1.0,0.0,0.0
5106,0.0,0.0,0.0,1.0,0.0
5107,0.0,0.0,0.0,1.0,0.0
5108,0.0,0.0,1.0,0.0,0.0
5109,1.0,0.0,0.0,0.0,0.0

In [93]:
OHE_smoke=OneHotEncoder()
smoke_encoder=OHE_smoke.fit_transform(df[['smoking_status']]).toarray()

In [94]:
smoke_encoder_df=pd.DataFrame(smoke_encoder,columns=OHE_smoke.get_feature_names_out(['smoking_status']))

In [95]:
smoke_encoder_df

,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,1.0,0.0,0.0
1,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0
...,...,...,...,...
5105,0.0,0.0,1.0,0.0
5106,0.0,0.0,1.0,0.0
5107,0.0,0.0,1.0,0.0
5108,0.0,1.0,0.0,0.0
5109,1.0,0.0,0.0,0.0

In [96]:
main_df=pd.concat([df.drop(columns=['work_type','smoking_status'],axis=1),smoke_encoder_df,work_OH_encoder_df],axis=1)

In [97]:
main_df.head()

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
0,1,67.0,0,1,1,1,228.69,36.6,1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,61.0,0,0,1,0,202.21,28.1,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,80.0,0,1,1,0,105.92,32.5,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,49.0,0,0,1,1,171.23,34.4,1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0,79.0,1,0,1,0,174.12,24.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
import pickle
## saving the label encoder for the deployment
with open('Label-encoders/LB_encoder_gender.pkl','wb') as file:
    pickle.dump(LB_encoder_gender,file)

with open('Label-encoders/LB_encoder_married.pkl','wb') as file:
    pickle.dump(LB_encoder_married,file)

with open('Label-encoders/LB_encoder_Residencd.pkl','wb') as file:
    pickle.dump(LB_encoder_Residencd,file)

In [ ]:
## now we are saving the one-hot-encoders 

with open('One-hot-encoders/OHE_work.pkl','wb') as file:
    pickle.dump(OHE_work,file)

with open('One-hot-encoders/OHE_smoke.pkl','wb') as file:
    pickle.dump(OHE_smoke,file)

## Dividing the data into dependent and independent features

In [100]:
X=main_df.drop('stroke',axis=1)

In [101]:
y=main_df['stroke']

## Splithing Data into testing and training

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [103]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [105]:
## now we are saving the scaled data as pickle file for deployment work 
with open('scaled_data/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Model Implementation

In [106]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [107]:
X_train.shape[0]

4088

In [108]:
X_train.shape[1]

17

In [ ]:
##ANN Model creation

model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid')
])

In [112]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 64)                1152

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 3265 (12.75 KB)
Trainable params: 3265 (12.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()

In [114]:
model.compile(optimizer=opt,loss='binary_crossentropy',metrics='accuracy')

In [116]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir="log/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [117]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [118]:
victory=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\healthcare_ANN\ANN_venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\healthcare_ANN\ANN_venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

128/128 [==============================] - 2s 6ms/step - loss: 0.1727 - accuracy: 0.9543 - val_loss: 0.2014 - val_accuracy: 0.9393
Epoch 2/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1570 - accuracy: 0.9543 - val_loss: 0.1817 - val_accuracy: 0.9393
Epoch 3/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1500 - accuracy: 0.9543 - val_loss: 0.1863 - val_accuracy: 0.9393
Epoch 4/100
128/128 [==============================] - 0s 3ms/step - loss: 0.1490 - accuracy: 0.9543 - val_loss: 0.1957 - val_accuracy: 0.9393
Epoch 5/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1507 - accuracy: 0.9543 - val_loss: 0.1810 - val_accuracy: 0.9393
Epoch 6/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1447 - accuracy: 0.9543 - val_loss: 0.1971 - val_accuracy: 0.9393
Epoch 7/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1452 - accuracy: 0.9538 - val_loss: 0.1902 - val_accuracy: 0.9393
Epoch 8/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1426 - accuracy: 0.9543 - val_loss: 0.1972 - val_accuracy: 0.9393
Epoch 9/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1409 - accuracy: 0.9540 - val_loss: 0.1932 - val_accuracy: 0.9393
Epoch 10/100
128/128 [==============================] - 0s 4ms/step - loss: 0.1367 - accuracy: 0.9547 - val_loss: 0.2037 - val_accuracy: 0.9384
Epoch 11/100
128/128 [==============================] - 0s 3ms/step - loss: 0.1387 - accuracy: 0.9545 - val_loss: 0.1973 - val_accuracy: 0.9393
Epoch 12/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1375 - accuracy: 0.9545 - val_loss: 0.2059 - val_accuracy: 0.9384
Epoch 13/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1340 - accuracy: 0.9547 - val_loss: 0.2037 - val_accuracy: 0.9384
Epoch 14/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1333 - accuracy: 0.9555 - val_loss: 0.2104 - val_accuracy: 0.9384
Epoch 15/100
128/128 [==============================] - 1s 4ms/step - loss: 0.1298 - accuracy: 0.9555 - val_loss: 0.2079 - val_accuracy: 0.9384

In [120]:
model.save('ANN_model/new_model.h5')

In [121]:
%load_ext tensorboard

In [124]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 21340), started 0:01:01 ago. (Use '!kill 21340' to kill it.)